* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Serif", serif;
}

nav {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.8);
  height: 44px;
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  cursor: pointer;
}

nav .navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 51%;
  list-style-type: none;
  font-size: 10px;
}

header {
  background-color: #000000;
}

header .header__iphone_black {
  padding-top: 50px;
  height: 563px;
  width: 40%;
  margin: auto;
  text-align: center;
  color: #eeeeee;
}

.header__iphone_title {
  font-size: 56px;
  font-weight: 600;
}

.header__iphone_descr {
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 15px;
  padding-top: 10px;
}

header .header__iphone_black img {
  position: absolute;
  left: 35%;
  bottom: 170px;
  width: 30%;
}

header .header__iphone_black .header__links {
  display: flex;
  justify-content: space-evenly;
  width: 271px;
  margin: auto;
  color: #2997ff;
  font-size: 18px;
  position: absolute;
  left: 41%;
  z-index: 1;
}

.header__links__1:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header__links__2:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* .header__links__parag::after {
  content: url(./assets/Vector.png);
} */

.header__iphone_white {
  padding-top: 30px;
  margin: auto;
  height: 585px;
  background-color: #fbfbfd;
  width: 40%;
  text-align: center;
}

/* .header__iphone_white .header__links .header__links__1::after {
  content: url(./assets/Vector.png);
  display: inline;
  width: 20%;
} */

.header__iphone_white .header__links {
  display: flex;
  margin: auto;
  width: 188px;
  justify-content: space-between;
  color: #2997ff;
  font-size: 18px;
}

.header__iphone_white img {
  width: 65%;
}

.header__homepod {
  position: relative;
  padding-top: 30px;
  height: 598px;
  background-color: black;
  color: #fbfbfd;
  margin: auto;
  text-align: center;
}

.header__homepod h2 {
  font-size: 56px;
  font-weight: 600;
}

.header__homepod h3 {
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 15px;
  padding-top: 10px;
}

.header__homepod img {
  width: 95%;
  left: 39px;
  z-index: 0;
  bottom: 28%;
  position: absolute;
}

.header__homepod .header__links {
  position: absolute;
  z-index: 1;
  left: 41%;
  display: flex;
  justify-content: space-evenly;
  width: 269px;
  margin: auto;
  color: #2997ff;
  font-size: 20px;
}
